<!--处理未安装 search 插件 默认 Google 搜索-->
<% theme.search = theme.search == 'local' ? config.search ? 'local' : 'google' : 'google'%> 

<h3>Search</h3>

<div id="site_search">

	<!-- Google -->
	<% if( theme.search == "google" ){ %>
		<form action="http://www.google.com/search?" data-site="<%=theme.url%>">
	    	<input type="text" id="search_box" name="q" placeholder="Search">
	    	<button type="button" class="btn btn-default" id="site_search_do"><span class="octicon octicon-search"></span></button>
	    </form>
	<% } %>

	<!-- 本地搜索 -->
	<% if(theme.search == "local" ){ %>
		<form id="search-form" >
			<input type="text" id="search" placeholder="Search" >
			<button type="button" class="btn btn-default" id="site_search_do"><span class="octicon octicon-search"></span></button>
		</form>

		<div id="local-search-result"></div>

		<%- js('js/search') %>	
		<script type="text/javascript">
			$(function(){
				var currentIndex = -1;
				var search_path = "<%= config.search.path %>";
				if (!search_path) search_path = "search.xml";
				var path = "<%= config.root %>" + search_path;
				searchFunc(path, 'search', 'local-search-result');

				$(document).delegate("#local-search-result>.search-result-list li","hover",function(){
					var liNode = $("#local-search-result>.search-result-list li");
					liNode.removeClass("hover");
					currentIndex = $("#local-search-result>.search-result-list li").index($(this));
					liNode.eq(currentIndex).addClass("hover");
				})

				$("#search-form").submit(function(){
					return false;
				})

				$("#search").keydown(function(event){
					var keyCode = event.keyCode;
					var liNode = $("#local-search-result>.search-result-list li");
					if(keyCode == 38 || keyCode == 40 || keyCode == 13){
						liNode.removeClass("hover");
						if(keyCode == 38){
							if(currentIndex - 1 >= 0) currentIndex --;
						}
						if(keyCode == 40){
							if(currentIndex + 1 < liNode.length) currentIndex ++;
						}
						if(keyCode == 13){
							location.href = liNode.eq(currentIndex).find("a").attr("href");
						}
						liNode.eq(currentIndex).addClass("hover");
						return false;
					}else{
						currentIndex = -1;
					}
				})
			})
		</script>

	<% } %>

</div>