<h3>Search</h3>


<div id="site_search">
	<form action="http://www.google.com/search?" data-site="<%=theme.url%>">
    	<input type="text" id="search_box" name="q" placeholder="Search" style="width: 253px;">
    	<button type="button" class="btn btn-default" id="site_search_do"><span class="octicon octicon-search"></span></button>
    </form>
</div>

<ul id="search_results"></ul>