<h3>Search</h3>
<form action="get" id="site_search">
    <input type="text" id="search_box" placeholder="Search">
    <button class="btn btn-default" type="submit"><span class="octicon octicon-search"></span></button>
</form>
<ul id="search_results"></ul>