<h3>Search</h3>

<div id="site_search">

	<!-- Google -->
	<% if( theme.search.use == "google" ){ %>
		<form action="http://www.google.com/search?" data-site="<%=theme.url%>">
	    	<input type="text" id="search_box" name="q" placeholder="Search" style="width: 253px;">
	    	<button type="button" class="btn btn-default" id="site_search_do"><span class="octicon octicon-search"></span></button>
	    </form>
	<% } %>

	<!-- 本地搜索 -->
	<% if( theme.search.use == "local" ){ %>
		<!-- Local -->
		<form id="search-form" >
			<input type="text" id="search" placeholder="Search" style="width: 253px;">
			<button type="button" class="btn btn-default" id="site_search_do"><span class="octicon octicon-search"></span></button>
		</form>

		<div id="local-search-result"></div>

	<% } %>

</div>