		
		<%- js('js/typer.js') %>

		<%- js('js/geopattern.js') %>

		<%- js('js/index.js') %>

		<% if (theme.profile.github && theme.github && theme.github.popular_repos) { %> <%- js('js/popular_repo.js') %> <% } %>

	</body>
</html>