<section class="container">
    <div class="columns">
        <div class="column <%if (page.toc == undefined ? true:page.toc) {%> three-fourths <%} else {%> single-column <%}%>" >
            <article class="article-content markdown-body">
                <%- post.content %>
            </article>
            
            <%if(theme.comment.disqus.enable){%>
                <%- partial('_widget/disqus-comments',{
                    key: post.slug,
                    title: post.title,
                    url: config.url+url_for(post.path)
                }) %>
             <%} else if(theme.comment.gitment.enable)  {%>
                <%- partial('_widget/gitment-comments',{
                    key: post.slug,
                    title: post.title,
                    url: page.title
                }) %>
            <%}%>

        </div>
        <div class="column one-fourth">
            <% if (page.toc == undefined ? true:page.toc) { %>
                <%page.toc=true%>
                <%- partial('_partial/post/toc') %>
            <% } %>
        </div>
    </div>
</section>